.grid{
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 400px;
    background-color: black;
    color: white;
}

.question{
    border:1px solid #0275d8;
border-radius:5px;
padding-top:10px;
margin-bottom:7px;
margin-left:0px;
background-color:#FFFFFF;
  overflow-wrap: break-word;
  word-wrap: break-word;
    
}